
$first-color: #ececec;
$text-color: #222;
$background-color: #288bbd;

.fa /deep/ {
    margin-right: 0.5em;
}

ul.main-navigation /deep/ li ul li { border-top: 0; }
ul.main-navigation:before,
ul.main-navigation:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

li.gpc-menu-item:hover a {
    background: #464a4b;
    color: white;
}

ul.main-navigation:after { clear: both; }

ul.main-navigation /deep/ {
    list-style: none;
    padding: 0;
    margin: 0;
    background: $background-color;
    li {
        display: block;
        position: relative;
        float: left;
        background:$background-color;
    }
    li ul { 
        display: none; 
        padding-left: 0;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2), 0px 3px 1px 0px rgba(0,0,0,0.2), 0px 6px 12px 0px rgba(0,0,0,0.15);        
    }
      
    li a {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
        white-space: nowrap;
        color: white;
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }
      
    li a:hover { 
        color: white;
    }
    li:hover > gpc-navbar-item > ul {
        display: block;
        position: absolute;
    }
      
    li:hover li { float: none; }
    
    li:hover a { 
        background: white; 
        color: #222;
    }
    
    li:hover li a:hover { 
        background: #2c3e50;
        color: white;
    }
      
    ul ul {
        left: 100%;
        top: 0;
    }
      
}