<ul class="gpc-menu-drop-item" [ngStyle]="{'z-index':level+10000}">
    <li *ngFor="let item of items">
        <a href="#" [routerLink]="item.routerLink">
            <span class="fa fa-fw " *ngIf="item.icon" [ngClass]="item.icon"></span>
            {{ item.label }}
            <span class="gpc-icon-right fa fa-fw fa-caret-right" *ngIf="item.items"></span></a>
        <gpc-navbar-item [level]="level + 1" [ngClass]="{'-hasSubmenu':true}" [items]="item.items" *ngIf="item.items && item.items.length"></gpc-navbar-item>
    </li>
</ul>